* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main {
    background-image: url(images/coffee-shop-15.jpg);
    width: 100%;
    height: 610px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    background-color: rgba(221, 221, 221, 0.308);
    width: 90%;
    height: 60px;
    position: absolute;
    top: 40px;
    margin-left: 20px;
    border-radius: 17px;
}
.logo img {
    width: 80px;
    height: 80px;
    margin-top: -10px;
}

.item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: 18px;
}

.moto {
    text-align: center;
    position: relative;
    top: 240px;
}
.moto h1 {
    color: white;
    font-size: 30px;
}
.moto p {
    color: white;
    font-size: larger;
}
.moto button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: 1s;
}

.moto button:hover {
    background-color: rgba(221, 221, 221, 0.63);
    transform: translateY(5px);
}

@media screen and  (max-width:570px) {
    .row {
        width: 100%;
    }
}